apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: frontend-scaler 
spec:
  scaleTargetRef:
    kind: DeploymentConfig 
    name: "{{ apphostname }}"
    apiVersion: apps/v1beta1 
    subresource: scale
  minReplicas: 1 
  maxReplicas: 5
  cpuUtilization:
    targetPercentage: 5
